.header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo {
    margin: 0;
    font-size: 2rem;
  }
  
  .nav-links {
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links a {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-links a:hover,
  .nav-links a.active {
    color: #ff6347;
  }